{% extends "profiles/base.html" %}
{% load i18n %}
{% load uni_form %}

{% block head_title %}
{% blocktrans %}{{ page_title }}{% endblocktrans %}
{% endblock %}

{% block body %}
<h1>{{ page_name }}</h1>

<form class="uniForm" method="POST" action="{{ post_url }}">
    <fieldset>
        {{ form|as_uni_form }}
        <div class="form_block">
            <input type="submit" value="{{ submit_name }}" />
            or <a href="{{ profile_url }}">cancel</a>
        </div>
    </fieldset>
</form>
{% include "profiles/profile-types/parts/NDA.html" %}
{% endblock %}
