{% extends "mentorship_admin/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Add News{% endblocktrans %}{% endblock %}


{% block body %}
    <h1>{% trans "Add News" %}</h1>
    
    <form method="POST" action="" class="uniForm">
        <fieldset>
            {{ bookmark_form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="{% trans 'add news' %}">
            </div>
        </fieldset>
    </form>
{% endblock %}
