{% extends "bookmarks/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Latest News{% endblocktrans %}{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}calendar_style.css" />
	
	<h1>{% trans "Event Calendar" %}</h1> <p></p>
	<table width="100%">
	    <tr>
	        <td width="20%" align="left">
	          &lt;&lt; <a href="{% url event_calendar pYear=PreviousYear,pMonth=PreviousMonth %}">{{PreviousMonthName}} {{PreviousYear}}</a>
	        </td>
	        <td width="20%" align="right">
	          <a href="{% url event_calendar pYear=NextYear,pMonth=NextMonth %}">{{NextMonthName}} {{NextYear}}</a> &gt;&gt;
	        </td>
	    </tr>
	</table>
	
	<div id="calendar">
  		{{calendar}}
	</div>
{% endblock %}
