{% extends 'mentorship_admin/base.html' %}

{% load i18n %}
{% load pagination_tags %}
{% load humanize %}

{% block head_title %}{% blocktrans %}User visibility{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "User visibility" %}</h1>

    <p>{% ifequal status 'active' %}
            <b>{{ user.username }}</b>{% trans " is active." %}
            <a href="{% url admin_set_visibility user.username "deactivate" %}">{% trans "Deactivate" %}</a>
        {% else %}
            <b>{{ user.username }}</b>{% trans " is inactive."%}
            <a href="{% url admin_set_visibility user.username "activate" %}">{% trans "Activate" %}</a>
        {% endifequal %}
    </p>
{% endblock %}
