{% extends "mentorship_admin/base.html" %}
{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Add a new event{% endblocktrans %}{% endblock %}
{% block extra_head_base %}	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script>
	
	function store_form_data_and_redirect() {	
		tinyMCE.triggerSave(true,true); 
		
		$.ajax({
			data: $("#eventAddForm").serialize(),		
		    type: "POST",
		    url: "/mentorship_admin/event_admin/",
		    success: function(data){
		    	window.location.href = data;
		    },
		    error: function(msg){
		    	alert(msg);
		    }              
		});
	}
	</script>
{% endblock %}

{% block body %}
	<h1>{% trans "Add a new event" %}</h1> <br/>
    <form class = "uniForm" id="eventAddForm" method="POST" action="">
         <fieldset class="inlineLabels">
        	{{ form|as_uni_form }}
        </fieldset>
        <input type="submit" value="Create Event" />        	
    </form>
{% endblock %}
