{% extends 'surveys/base.html' %}
{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans 'Survey' %}: survey.name{% endblock %}

{% block body %}
<div>
<style type="text/css">
div.description
{
color: gray;
}</style>
    <h2>{% trans "Survey" %}: {{ survey.name }}</h2>
    {% if survey.description %}<div class="description">{% trans "Description" %}: {{ survey.description }}</div>{% endif %}
    <div>
        <form method="POST" action="." class="uniForm">
            {{ form|as_uni_form }}
            <input type="submit" value="{% trans "Submit" %}" />
        </form>
    </div>
<div>
{% endblock %}

