{% extends 'surveys/base.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Survey input' %}{% endblock %}
{% block extra_header %}
{% endblock %}
{% block body %}
<h2>{% trans 'Survey input by:' %} <a href="{% url profile_detail other_user.username %}">{{ other_user.username }}</a></h2>
{% for input in inputs %}
	{% if input.isText %}
	<div class="text-field-answer">
		<b>{{ input.name }}:</b> {{ input.text }}
	</div>
	{% else %}{% if input.isBool %}
	<div class="boolean-field-answer">
		<img src="{{ STATIC_URL }}surveys/{% if not input.checked %}un{% endif %}checked.png"/> {{ input.name }}
	</div>
	{% else %}{% if input.isChoice %}
	<div class="choice-field-answer">
		<b>{{ input.name }}:</b> {{ input.choice }}
	</div>
	{% else %}{% if input.isMultiChoice %}
	<div class="multichoice-field-answer">
		<b>{{ input.name }}:</b>
		<ul>
			{% for choice in input.choices %}
				<li>{{ choice }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}{% endif %}{% endif %}{% endif %}
{% endfor %}

{% endblock %}
