{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
	
	<p>
		{% blocktrans %}
Mentor Alumni este un program creat de studenţi UBB pentru studenţi şi absolvenţi UBB. Le permite tuturor să găsească şi să discute cu oameni preocupaţi de dezvoltarea lor profesională şi personală. 
Studenţii UBB primesc îndrumare pentru a-şi îndeplini cele mai îndrăzneţe obiective profesionale.
Absolvenţii UBB descoperă viitori colaboratori, parteneri de cercetare sau angajaţi. 
Toţi pot participa la sesiuni de formare şi dezvoltare personală oferite de parteneri.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Înscrie-te dacă eşti nou sau intră dacă eşti deja de-al casei! 
Dă dovadă şi de puţină răbdare şi completează toate datele, te asigurăm că merită! 
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
Proiectul Mentor Alumni este o initiativa a Asociatiei Absolventilor UBB si a Oficiului de Fund Raising al UBB. <b>TeamFlux</b> a transformat ideea in aceasta platforma.  
        {% endblocktrans %}
{% endblock %}

