{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
    {% blocktrans %}
        <div>
    <p>
        <b>
            Politica de securitate a datelor
            <p>
            </p>
        </b>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Datele cu caracter personal furnizate in momentul inscrierii in programul .Mentor Alumni. sunt utilizate exclusiv de catre Asociatia Absolventilor
        Universitatii Babes-Bolyai pentru desfasurarea in conditii optime a programului .Mentor Alumni..
        <b>
            <p>
            </p>
        </b>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai nu comercializeaza adresele de email sau orice alte date oferite de membrii inscrisi.  Asociatia
        Absolventilor Universitatii Babes-Bolyai nu divulga adresele, telefoanele sau orice alte date personale catre terte parti, cu exceptia cazurilor
        extreme cerute de legislatia in vigoare.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Orice statistica privind traficul utilizatorilor nostri, pe care o vom oferi partenerilor, este furnizata doar ca ansamblu de date si nu include nicio
        informatie identificabila despre niciun utilizator individual.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        In momentul in care noi primim informatiile transmise de dvs, va garantam ca vom depune toate eforturile pentru a asigura securitatea acestora in
        sistemele noastre, conform standardelor de securitate impuse de legislatia romana in vigoare.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai nu inchiriaza, vinde sau imparte informatii cu caracter personal cu alte persoane sau site-uri, cu
        exceptia situatiilor in care avem acordul dvs explicit.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Datele dvs personale precum CNP si datele de contact nu pot fi accesate de niciun utilizator al siteului. Membrii siteului pot folosi serviciul de
        cautare pentru a gasi alti membri in functie de diferite criterii de selectie, precum anul absolvirii sau facultatea finalizata. Datele personale
        introduse de dvs pe profilul dvs vor fi folosite in aceste cautari.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Despre setarile legate de vizibilitatea profilului dvs pentru alti utilizatori,
        <u>
            click aici.
            <p>
            </p>
        </u>
    </p>
    <p>
    </p>
    <p>
        <u>
            <p>
                 
            </p>
        </u>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai isi rezerva dreptul de a folosi  datele adunate din site in mod anonim in scopul de a realiza
        statistici sau alte rapoarte ce nu afecteaza direct si individual membrii siteului.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Prin crearea unui cont pe site, va manifestati acordul expres de a primi notificari din partea Asociatiei Absolventilor Universitatii Babes-Bolyai  cu
        privire la noi facilitati si servicii lansate pentru absolventi.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Fiind sub incidenta termenilor de utilizare a sistemului, sunteti de acord sa:
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        a.                   oferiti informatii corecte in formularul de inregistrare.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        b.                  mentineti la zi datele de inregistrare.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        Daca oferiti informatii incorecte sau care nu mai sunt de actualitate, Asociatia Absolventilor Universitatii Babes-Bolyai isi rezerva drepturi depline
        de a va suspenda sau sterge contul sau de a va refuza in viitor accesul la sistem. Prin utilizarea programului .Mentor Alumni., va asumati toate
        consecintele introducerii de date false.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
</div>

    {% endblocktrans %}
{% endblock %}
