{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
	{% blocktrans %}
<div>
    <p>
        Site-ul <a href="http://mentorat.alumni.ubbcluj.ro/">http://mentorat.alumni.ubbcluj.ro</a> (denumit in continuare SITE) este creat si administrat de
        Asociatia Absolventilor Universitatii Babes-Bolyai, cu datele de contact:____
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Daca folositi serviciile oferite de acest site, sunteti de acord cu termenii si conditiile de mai jos. Orice viitor acces va fi considerat un accept al
        termenilor si conditiilor din acest document. Termenii si conditiile pot suferi modificari in timp. Veti fi notificat ori de cate ori se produc
        modificari ale termenilor si conditiilor site-ului.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <b>
            Protectia proprietatii intelectuale
            <p>
            </p>
        </b>
    </p>
    <p>
    </p>
    <p>
        Continutul si designul siteului (precum si orice alt material ce are legatura cu siteul) trimis dvs prin e-mail sau orice alta modalitate (articole,
        newslettere, alte materiale denumite in continuare Continut site) apartin siteului .acolo unde nu este specificat un alt autor . si sunt protejate de
        legislatia in vigoare cu privire la proprietatea intelectuala. Nu puteti utiliza, reproduce sau permite nimanui sa utilizeze sau sa reproduca parti din
        continutul siteului fara a detine o permisiune scrisa din partea Asociatiei Absolventilor Universitatii Babes-Bolyai.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Sunteti responsabil in totalitate pentru fotografiile, profilurile, mesajele, articolele, si orice alt continut incarcati, publicati sau afisati pe sau
        prin intermediul serviciilor oferite de site , sau pe care il impartasiti cu alti utilizatori.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Nu aveti voie sa publicati, trimiteti sau impartasiti continut pe care nu l-ati creat sau asupra caruia nu aveti drept de utilizare. Dumneavoastra
        garantati ca afisarea continutului dvs in cadrul siteului nu incalca drepturile de intimitate, drepturile de autor, drepturile contractuale sau orice
        alte drepturi ale oricarei persoane.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <b>
            Utilizarea continutului siteului
            <p>
            </p>
        </b>
    </p>
    <p>
    </p>
    <p>
        Puteti copia si printa continutul siteului doar pentru utilizare in scop personal, lipsita de intentie comerciala. In oricare alt caz, continutul
        siteului nu poate fi reprodus, modificat si exploatat, indiferent de scopul comercial sau necomercial al acestei exploatari.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Actiunile descrise mai jos nu sunt permise in lipsa obtinerii in prealabil a unei permisiuni scrise din partea Asociatiei Absolventilor Universitatii
        Babes-Bolyai.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        reproducerea sau stocarea continutului siteului, precum si trimiterea acestui continut catre orice alt website, server sau orice alt mijloc de stocare
        a informatiei
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        modificarea, publicarea, transmiterea, participarea la transferul sau distributia unor materiale realizate prin reproducerea, modificarea sau afisarea
        continutului siteului, in lipsa obtinerii in prealabil a permisiunii scrise din partea Asociatiei Absolventilor Universitatii Babes-Bolyai.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Indepartarea insemnelor care semnifica drepturile de autor ale siteului asupra continutului.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Cererile de utilizare a continutului in alte scopuri decat cele permise expres de prezentul document pot fi trimise la adresa de
        e-mail:______________________
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <b>
            Inregistrare si parole
            <p>
            </p>
        </b>
    </p>
    <p>
    </p>
    <p>
        Accesul dvs la serviciile oferite de site este protejat de o parola. Va rugam sa nu dezvaluiti nimanui aceasta parola. Va rugam sa semnati .log
        off/sign out. din contul dvs de utilizator al siteului la sfarsitul fiecarei sesiuni. Va sfatuim de asemenea sa inchideti fereastra browser-ului in
        care ati lucrat la sfarsitul navigarii dvs si sa fiti atent/a la accesarea siteului de pe calculatoare publice/care nu va apartin.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Fiecare inregistrare se face pentru un singur utilizator. Este interzisa partajarea datelor de acces in contul siteului. In situatia in care se
        descopera actiuni de acest gen, siteul isi rezerva dreptul de a anula sau suspenda accesul dvs la continutul sau.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <b>
            Politica de securitate a datelor
            <p>
            </p>
        </b>
    </p>
    <p>
    </p>
    <p>
        Datele cu caracter personal furnizate in momentul inscrierii in programul .Mentor Alumni. sunt utilizate exclusiv de catre Asociatia Absolventilor
        Universitatii Babes-Bolyai pentru desfasurarea in conditii optime a programului .Mentor Alumni..
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai nu comercializeaz. adresele de email sau orice alte date oferite de membrii îcri.i. Asociatia
        Absolventilor Universitatii Babes-Bolyai nu divulg. adresele, telefoanele sau orice alte date personale c.tre ter.e p.r.i, cu excep.ia cazurilor
        extreme cerute de legisla.ia îvigoare.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Orice statistica privind traficul utilizatorilor nostri, pe care o vom oferi partenerilor, este furnizata doar ca ansamblu de date si nu include nicio
        informatie identificabila despre niciun utilizator individual.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        In momentul in care noi primim informatiile transmise de dvs, va garantam ca vom depune toate eforturile pentru a asigura securitatea acestora in
        sistemele noastre, conform standardelor de securitate impuse de legislatia romana in vigoare.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai nu inchiriaza, vinde sau imparte informatii cu caracter personal cu alte persoane sau site-uri, cu
        exceptia situatiilor in care avem acordul dvs explicit.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Datele dvs personale precum CNP, date de contact, nu pot fi accesate de niciun utilizator al siteului. Membrii siteului pot folosi serviciul de cautare
        pentru a gasi alti membri in functie de diferite criterii de selectie, precum anul absolvirii sau facultatea finalizata. Datele personale introduse de
        dvs pe profilul dvs vor fi folosite in aceste cautari. Pentru vizibilitatea profilului dvs va rugam cititi sectiunea de confidentialitate a siteului.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai isi rezerva dreptul de a folosi  datele adunate din site in mod anonim in scopul de a realiza
        statistici sau alte rapoarte ce nu afecteaza direct si individual membrii siteului.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Prin crearea unui cont pe site, va manifestati acordul expres de a primi notificari din partea Asociatiei Absolventilor Universitatii Babes-Bolyai  cu
        privire la noi facilitati si servicii lansate pentru absolventi.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Fiind sub inciden.a termenilor de utilizare a sistemului, sunte.i de acord s.:
        <p>
        </p>
    </p>
    <p>
    </p>
    <ul>
        <li>
            oferi.i informa.ii corecte îformularul de îegistrare.
            <p>
            </p>
        </li>
    </ul>
    <p>
    </p>
    <ul>
        <li>
            men.ine.i la zi datele de îegistrare.
            <p>
            </p>
        </li>
    </ul>
    <p>
    </p>
    <p>
        Dac. oferi.i informa.ii incorecte sau care nu mai sunt de actualitate, Asociatia Absolventilor Universitatii Babes-Bolyai î rezerv. drepturi depline
        de a v. suspenda sau .terge contul sau de a v. refuza îviitor accesul la sistem. Prin utilizarea programului .Mentor Alumni., v. asuma.i toate
        consecin.ele introducerii de date false.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <strong>5. Limitarea raspunderii</strong>
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Asociatia Absolventilor Universitatii Babes-Bolyai  nu poate garanta implicit sau expres pentru continutul de pe site, pentru continutul oferit de
        membrii inregistrati.  Asociatia Absolventilor Universitatii Babes-Bolyai  nu isi asuma raspunderea in nici un caz, pentru nici o dauna, pricinuita
        direct sau indirect de date, informatii, imagini colectate de pe site. De asemenea, Asociatia Absolventilor Universitatii Babes-Bolyai nu garanteaza
        acuratetea, corectitudinea sau caracterul actual al continutului ori serviciilor furnizate de site. De asemenea,<strong> </strong>Asociatia
        Absolventilor Universitatii Babes-Bolyai  nu garanteaza faptul ca sistemele informatice sau programele folosite pentru afisarea sau transmiterea
        informatiei pe site sau in orice alta forma nu contin virusi ori alte surse distructive de cod sau alte proprietati distructive.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        Prin prezenta sunteti de acord sa exonerati de raspundere Asociatia Absolventilor Universitatii Babes-Bolyai   pentru orice actiune judiciara sau
        extrajudiciara, care provine ca urmare a neutilizarii corecte sau frauduloase a site-ului.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <br/>
        Pentru caz de forta majora, Asociatia Absolventilor Universitatii Babes-Bolyai  impreuna cu colaboratorii sai, este exonerata total de raspundere.
        Cazurile de forta majora includ, dar nu se limiteaza la, erori de functionare ale echipamentului tehnic de pe site, lipsa functionarii conexiunii la
        internet, lipsa functionarii conexiunilor de telefon, virusii informatici, accesul neautorizat in sistemele http://mentorat.alumni.ubbcluj.ro , erorile
        de operare, greva, etc.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
	
        <b>
            Litigii
            <br/> <br/>
        </b>
        Drepturile si obligatiile utilizatorilor siteului si toate efectele juridice pe care acceptarea le produce, sunt guvernate de legea romana in vigoare
        si vor fi analizate si judecate de catre instanta romana.
        <p>
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
    <p>
        <p>
             
        </p>
    </p>
    <p>
    </p>
</div>

	{% endblocktrans %}
{% endblock %}
