{% extends "profiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load group_tags %}
{% load microblogging_tags %}
{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

<head>
<style type="text/css">
.textinput {
    width=300px;
}
</style>
</head>

{% block head_title %}{% blocktrans %}Mentoring agreements{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>Mentoring Agreement</h1>
    <h3>Am cazut de acord cu privire la urmatorele aspecte ale relatiei de mentorat<h3>
    {% with mentor_form.helper as helper %}
        {% uni_form mentor_form helper %}
    {% endwith %}
{% endblock %}
