/* GENERAL TAB STYLING */

#left_tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 210px; /* based on width and padding of logo */
}
#right_tabs {
    position: absolute;
    right: 15px;
    bottom: -1px; /* must be same thickness as tab border */
}

ul.tabs a, ul.tabs a {
    color: #003399; /* unselected tab text hover colour */
    font-weight: bold;
    text-decoration: none;
}
ul.tabs a:hover {
    color: #5297dc; /* unselected tab text colour */
}
ul.tabs li {
    list-style-type: none;
    display: inline;
    padding: 5px 0 4px;
    margin: 0 1px; /* to compensate for border */
	margin-left: 2px;

    background-color: #EEE; /* unselected tab colour */
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;

	border-color: #5297dc;
}

ul.tabs li:hover {
}

ul.tabs li a {
    padding: 5px 12px;
}
ul.tabs {
    margin: 0 0 5px;
}
