{% extends "locations/locations_base.html" %}

{% block doctype_declaration %}
<!DOCTYPE html">
{% endblock %}

{% load i18n %}

{% block extra_head_base %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> </script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/locations.js"></script>
    <script type="text/javascript">
        pushpins = {
            mentor: '{{ STATIC_URL }}pushpins/mentor.png',
            student: '{{ STATIC_URL }}pushpins/user.png',
            root: '{{ STATIC_URL }}pushpins/root.png',
            event: '{{ STATIC_URL }}pushpins/event.png'
        };
        
        colors = {
        	1: '#2327FC',
        	2: '#2327FC',
        	5: '#4DF211',
        	6: '#FF0000',
        	9: '#E9F030'
        };

        function initialize() {
            var position = new google.maps.LatLng(46.766667, 23.583333),
                options = {
                    zoom: 13,
                    center: position,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                map = new google.maps.Map(document.getElementById('map_canvas'), options);

            $.get('{% url map_data %}', function(data, textStatus, jqXHR) {
                data = JSON.parse(data) || {};
                var u = data.users || [];
                for (var i=0, len=u.length; i < len; ++ i) {
                    var user = u[i];
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(user.lat, user.lng),
                        map: map,
                        icon: pushpins[user.icon],
                        clickable: false,
                        url: user.profile
                    });
                    //google.maps.event.addListener(marker, 'click', function() { window.location = user.profile; });
                    console.log(pushpins[user.icon]);
                }
                
                var events = data.events || [];
                for (var i=0, len=events.length; i < len; ++ i) {
                    var event = events[i];
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(event.lat, event.lng),
                        map: map,
                        icon: pushpins['event'],
                        clickable: true,
                        url: event.event_details
                    });
                    google.maps.event.addListener(marker, 'click', function() { window.location = event.event_details; });
                    console.log(pushpins[event]);
                }
                
                var relations = data.relations || [];
                for (var i=0, len=relations.length; i < len; ++ i) {
                    var relation = relations[i];
                    var path = [new google.maps.LatLng(relation['lat1'], relation['lng1']),
                                new google.maps.LatLng(relation['lat2'], relation['lng2'])]
                    var line = new google.maps.Polyline({
                        path: path,
                        strokeColor: colors[relation['status']] || '#000000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                      });
                    line.setMap(map);
                }
            });
        }
    </script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block head_title %}
        {% blocktrans %}All locations{% endblocktrans %}
{% endblock %}

{% block body_onload_functions %}initialize(){% endblock %}

{% block body %}
<div id="map_canvas" style="width:800px; height:700px"></div>
{% endblock %}
