{% extends "site_base.html" %}

{% block doctype_declaration %}
<!DOCTYPE html">
{% endblock %}

{% load i18n %}

{% block extra_head_base %}	
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> </script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/locations.js"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block head_title %}
	{% blocktrans %}All locations{% endblocktrans %}
{% endblock %}

{% block body_onload_functions %}initialize(){% endblock %}

{% block body %}
<div id="map_canvas" style="width:800px; height:700px"></div>
{% endblock %}
