{% extends "site_base.html" %}

{% block doctype_declaration %}
<!DOCTYPE html">
{% endblock %}

{% load i18n %}

{% block extra_head_base %}	
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> </script>
	
	{% block extra_head %}{% endblock %}
{% endblock %}

{% block head_title %}
	{% blocktrans %}Your location{% endblocktrans %}
{% endblock %}

{% block body_onload_functions %}initialize_your_location(){% endblock %}

{% block body %}
<form name="mapform" action="." method="post">
	<div id="map_canvas" style="width:800px; height:700px"></div>
</form>
{% endblock %}

{% block extra_body %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript">
		{% if user_location %}
			initialUserLocation = new google.maps.LatLng({{user_location.latitude}}, {{user_location.longitude}});
			alert("init ok");
		{% else %}
			alert("no user location in db");
		{% endif %}	
		
		pushpinPath = {{pushpin_path}};
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/locations.js"></script>
{% endblock %}